@import url(../vendor/normalize.css);

@import url(../blocks/html/html.css);

@import url(../blocks/body/body.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/header-container/header-container.css);
@import url(../blocks/header-container/__logo-items/header-container__logo-items.css);
@import url(../blocks/header-container/__logo-image/header-container__logo-image.css);
@import url(../blocks/header-container/__logo-text/header-container__logo-text.css);
@import url(../blocks/header-container/__menu/header-container__menu.css);
@import url(../blocks/header-container/__menu-list/header-container__menu-list.css);
@import url(../blocks/header-container/__menu-item/header-container__menu-item.css);

@import url(../blocks/logo-marker/logo-marker.css);
@import url(../blocks/card-marker/card-marker.css);

@import url(../blocks/link/link.css);

@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/left-column/left-column.css);
@import url(../blocks/left-column/__card-marker-text/left-column__card-marker-text.css);
@import url(../blocks/left-column/__card-text/left-column__card-text.css);
@import url(../blocks/left-column/__title/left-column__title.css);
@import url(../blocks/left-column/__subtitle/left-column__subtitle.css);

@import url(../blocks/right-column/right-column.css);

@import url(../blocks/right-column-card/right-column-card.css);
@import url(../blocks/right-column-card/__card-image/right-column-card__card-image.css);
@import url(../blocks/right-column-card/__card-marker-text/right-column-card__card-marker-text.css);
@import url(../blocks/right-column-card/__text/right-column-card__text.css);
@import url(../blocks/right-column-card/__title/right-column-card__title.css);
@import url(../blocks/right-column-card/__subtitle/right-column-card__subtitle.css);

.article-card__marker-text {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
}

.article-card__title {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;
margin: 0 0 15px;
}

.article-card__author {
    font-family: 'PT Sans';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 18px;
margin: 0 0 14px;
}

.article-card__article {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin: 0;
}

.article-card {
    background-color: white;
    width: 730px;
    height:250px;
    margin:0 auto;
    position: relative;
    bottom: 120px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.arcticle-card__text {
    padding-left: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 30px;
    padding-left: 30px;
}

.left-section__card {
margin-top: -100px;
}

.left-section__card:first-child {
    margin-top: 0;
}

.right-section {
    margin-left: 130px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.leon-hunt {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.leon-hunt__author {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-top: 20px;
}

.leon-hunt__profession {
    font-family: 'PT Sans';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #999999;
margin-top: 8px;
}

.leon-hunt__text {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
color: #666666;
margin-top: 14px;
}

.leon-hunt__button{
    background: gray;
    border-radius: 5px;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: black;
width: 270px;
height: 50px;
margin-top: 20px;
border: 1px solid;
}

.popular_posts__title {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
margin-top: 60px;
}

.popular-posts{
    padding-left: 0;
    margin: 20px 0 0 0;
    list-style: none;
    position: relative;
}

.popular-posts__text {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
margin: 20px 0 10px 0;
}

.popular-posts__author {
    font-family: 'PT Sans';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #666666;
}

.popular-posts__marker-text {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
}

.popular-posts-marker{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4A90E2;
    border-radius: 10%;
    color: white;
    padding: 4px 12px 2px;
}

.instagram-photoes {
padding-left: 0;
margin: 0;
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
}

.insta-title{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
margin: 60px 0 26px;
}

.insta-button {
background: grey;
border-radius: 3px;
height: 50px;
width: 270px;
position: relative;
display: flex;
padding-left: 0;
margin: 0;
list-style: none;
align-items: center;
justify-content: center;
border: 1px solid;
}

.insta-logo {
width: 14px;
height: 14px;
}

.insta-text {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
}

.insta-test {
width: 14px;
height: 14px;
margin-right: 10px;
}